.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #212121;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  /* padding-top: 24px;
  padding-bottom: 25px; */
  /* margin-bottom: 94px; */
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
}

.contacts-block {
  display: flex;
  align-items: center;
}

.mail-logo {
  fill: #757575;
  margin-right: 10px;
}

.phone-logo {
  fill: #757575;
  margin-right: 10px;
}

.navigation-items:not(:last-child) {
  margin-right: 50px;
}

.mail {
  margin-right: 50px;
}

.buttons-menu {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 50px;
  margin-left: 280px;
}

.buttons-list:not(:last-child) {
  display: flex;
  align-items: center;
  margin-right: 8px;
}

/* ====== START calc() ======= */
.projects-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
  /* margin-left: -30px;
  margin-top: -30px; */
  /* justify-content: space-between; */
}

.projects-item {
  /* flex-basis: calc((100%-90px) / 3); */
  margin-bottom: 30px;
  width: 370px;
  height: 404px;
  border: 1px solid #eeeeee;
  width: calc(100% / 3 - 30px);
  margin: 15px;
  /* border-color: #ffffff;
  border-width: solid; */
}

/* ======= FINISH calc () ====== */

.web-log {
  color: #2196f3;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
}

.studio-logo {
  color: #212121;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  margin-right: 93px;
}

.menu-item {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  padding: 32px 0px;
  display: inline-block;
}

.menu-item:hover,
.menu-item:focus {
  color: #2196f3;
}

.top {
  color: #2196f3;
}

.contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #757575;
}

.contact:hover,
.contact:focus {
  color: #2196f3;
}

.button-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  background: #f5f4fa;
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
}

.button-item:hover,
.button-item:focus {
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}

.portfolio-items {
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;

  margin-bottom: 4px;
}

.product-item {
  font-weight: normal;
  font-size: 16px;
  line-height: 1;
  color: #757575;
}

.portfolio-cards {
  padding: 20px 24px;
}

.studio-logo-footer {
  color: #ffffff;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
}

.logo-footer {
  padding-top: 60px;
  padding-bottom: 20px;
}

.contacts-footer {
  padding-bottom: 9px;
}

.background-down {
  background: #2f303a;
  height: 253px;
}

.contact-down {
  font-size: 14px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.6);
}

.contact-down:hover {
  color: #2196f3;
}

.contact-adress {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.background-top {
  background: #2f303a;
  height: 600px;
  /* margin-bottom: 94px; */
}

.section {
  padding: 94px 0px;
}

.main-moto {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  padding-bottom: 30px;
}

.top-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 200px;
}

.order-button {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  width: 200px;
  height: 50px;
}

.order-button:hover {
  background: #188ce8;
}

.perfomance-list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  /* margin-bottom: 94px; */
}

.perfomance-menu {
  margin-right: 30px;
}

.perfomance-item {
  font-weight: bold;
  font-size: 14px;
  line-height: 0.87;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}

.perfomance-describtion {
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}

.pics-menu {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  /* margin-bottom: 94px; */
}

.section-middle {
  padding-bottom: 94px;
}

.pics-items {
  margin-right: 30px;
}

.team-background {
  background-color: #f5f4fa;
  height: 648px;
}
/* =========calc () STARTING======== */
.team-list {
  display: flex;
  /* justify-content: space-between;
  align-items: flex-start; */
  margin: -15px;
}

.team-list-item {
  /* width: 270px;
  height: 368px; */
  background-color: #ffffff;
  /* margin-right: 30px; */
  width: calc(100% / 4 - 30px);
  margin: 15px;
}
/* =========CALC () FINISHING ======= */
.our-team {
  padding-top: 94px;
  margin-bottom: 50px;
}

.who-we-are {
  font-weight: bold;
  font-size: 36px;
  line-height: 0.85;
  text-align: center;
  margin-bottom: 50px;
}

.team-mate {
  font-weight: 500;
  font-size: 16px;
  line-height: 0.84;
  text-align: center;
  color: #212121;
  margin-bottom: 10px;
}

.team-role {
  font-size: 16px;
  line-height: 0.84;
  text-align: center;
  color: #757575;
}

.team-cards {
  padding: 30px 0px;
}
